- op: add
  path: /machine/network
  value:
    hostname: stub_hostname
    interfaces:
    - interface: eth0
      dhcp: true
      vip:
        ip: {{ vip_address }}
- op: replace
  path: /cluster/extraManifests
  value:
    - "https://raw.githubusercontent.com/mologie/talos-vmtoolsd/master/deploy/unstable.yaml"