- op: add
  path: /machine/network
  value:
    hostname: stub_hostname
- op: replace
  path: /cluster/extraManifests
  value:
    - "https://raw.githubusercontent.com/mologie/talos-vmtoolsd/master/deploy/unstable.yaml"

- op: add
  path: /machine/sysctls
  value:
    vm.hugepages: 1024

- op: add
  path: /machine/kubelet/extraArgs
  value:
    node-labels: openebs.io/engine=mayastor     